EMPLOYEE_SERVICE_PORT=5002
MONGO_URI=mongodb://localhost:27017
MONGO_URI=mongodb+srv://username:password@cluster0.fgsjjgd.mongodb.net/employee-service?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development
AUTH_SERVICE_URL=https://auth-service-latest-ot64.onrender.com/
JWT_SECRET=this_is_JWT_SECRET
